<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
  var apiKey = '<%= process.env.API_KEY %>';
  // Initialize Firebase
  var config = {
    apiKey: apiKey,
    authDomain: "hubspotfirstapp.firebaseapp.com",
    databaseURL: "https://hubspotfirstapp.firebaseio.com",
    projectId: "hubspotfirstapp",
    storageBucket: "hubspotfirstapp.appspot.com",
    messagingSenderId: "887028498069"
  };
  firebase.initializeApp(config);
</script>

<body>
  <!--Header-->
  <h1>Here's the title</h1>
  <p>y</p>
  <button id="btn1" class="btn btn-default" type="button" onclick="toggleSignIn()">Log in with google</button>
  <!--Add a form-->
  <div id="form">
    <p>Post title: </p>
    <input type="text"/>

    <p>Post message: </p>
    <input type="text"/>

    <button id="btn2" >Add post</button>
  </br>
  </div>


  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>YOYO web apps are so cool</h1>
  </div>

  <p id="demo">
    This is me testing out a lil html file
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>

</body>

</html>